* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --background-color: beige;
  --library-color: grey;
  --primary-color: #f70776;
  --primary-color-medium: #c3195d;
  --secondary-color: #680747;
  --accent-color: #004c75;
  --dark-color: #141010;
}

li {
  list-style-type: none;
}

legend {
  text-align: center;
}

input {
  margin-top: 5px;
  padding: 0 5px;
  height: 30px;
}

.overlay {
  background-color: black;
  opacity: 0.6;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

body {
  background-color: var(--background-color);
}

.movie-form {
  width: 300px;
  padding: 30px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  visibility: hidden;
}

.movie-form label,
legend {
  color: white;
}

.movie-form button {
  align-self: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  border-right: 2px solid var(--primary-color-medium);
  border-bottom: 2px solid var(--primary-color-medium);
}

.cards {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 50px 1fr;
  background-color: var(--secondary-color);
}

.new-movie {
  justify-self: right;
  align-self: center;
  grid-column-start: -1;
  height: 40px;
  aspect-ratio: 1 / 1;
  font-size: x-large;
  background-color: green;
  color: white;
}

.card:nth-of-type(1) {
  grid-column-start: 1;
}

.card {
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  padding: 10px 20px;
  border: 4px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-medium);
  justify-content: space-between;
}

.card-title {
  align-self: center;
}

.card-details {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-detail {
  width: 100%;
  margin: 20px 10px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.data {
  font-style: normal;
}

/* The switch - the box around the slider */
.switch {
  justify-self: end;
  align-self: end;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}