* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --background-color: beige;
  --library-color: grey;
}

table {
  background-color: white;
  border: 2px solid black;
  width: 700px;
  padding: 5px;
}

tr,
th {
  height: 30px;
  border-bottom: 1px solid black;
}

td {
  align-items: center;
  height: 30px;
  padding: 2px 4px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

td:nth-of-type(1) {
  border-left: 1px solid black;
}

td:nth-of-type(5) {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

legend {
  text-align: center;
}

input {
  margin-top: 5px;
  padding: 0 5px;
  height: 30px;
}

input[type='checkbox'] {
  height: 20px;
}

.overlay {
  background-color: black;
  opacity: 0.8;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

body {
  background-color: var(--background-color);
}

.library {
  height: 100vh;
  width: 100%;
  background-color: var(--library-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-movie {
  margin: 10px 10px 0 0;
  height: 40px;
  aspect-ratio: 1 / 1;
  font-size: x-large;
  background-color: green;
  align-self: end;
  color: white;
}

.movie-form {
  width: 300px;
  padding: 30px;
  background-color: rgb(77, 50, 0);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  visibility: hidden;
}

.movie-form label,
legend {
  color: white;
}

.movie-form button {
  align-self: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(1, 70, 70);
  border-right: 2px solid rgb(47, 47, 51);
  border-bottom: 2px solid rgb(47, 47, 51);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}